<div class="aboutPage">

  <h3>About</h3>

  <p>
    ThriftOR is here to help you get yo' thrift on! A listing of Oregon's
    thrift stores, as well as one-time events (estate & yard sales).
  </p>
  <p>

    So! To get started? Search around for thrift stores, add some if you find 'em,
    rate the best stores, post your garage or estate sales, post an instagram and
    #thriftorfinds to see your photo on our page, and let us know how we can improve
    the site!
  </p>

  <img src="yardsale.jpg" alt="pleasant yardsale">
</div>
