<h3>About</h3>

<p>
  ThriftOR is here to help you get yo' thrift on! A listing of Oregon's
  thrift stores, as well as one-time events (estate & yard sales).
</p>

<img src="yardsale.jpg" alt="pleasant yardsale">
