<div class="instagrams">
  <iframe src="http://www.intagme.com/in/?h=dGhyaWZ0b3JmaW5kc3xpbnwyMDB8NXwzfHx5ZXN8MjB8dW5kZWZpbmVkfG5v" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1150px; height: 690px" ></iframe>
</div>
