<div id="find">
  <form>
    <label for="query">Query: </label>
    {{ input type="text" id="query" value=search }}
  </form>
</div>

<ul>
  {{#each spot in arrangedContent}}
    <li class="spot">
      {{link-to spot.name 'spots.show' spot}}
    </li>
  {{/each}}
</ul>
