
<iframe
width="500"
height="325"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAs1EqVwjjQtzplL4v02060BCBctNNN6Ww
&q=thrift+stores+in+Portland">
</iframe>


<ul>
  {{#each spot in this}}
    <li>
      {{~#link-to 'spots.show' spot}}
        {{spot.name}}
      {{~/link-to}}
    </li>
  {{/each}}
</ul>
