

<div>
  <div class="form-group">
    <form>
      <label for="query" class="control-label">Search <small>(case sensitive)</small></label>
      {{ input type="text" id="query" value=search class="form-control"}}
    </form>
  </div>
</div>




<div class="row">
  <div class="col-md-4 saleLabels">
    <h2>Thrift Stores</h2>
    {{#each spot in controller.arrangedContent itemController='spot'}}
      {{#if spot.kindIsThrift}}
        <li class="spot">
          {{link-to spot.model.name 'spots.show' spot}}
        </li>
      {{/if}}
    {{/each}}
  </div>
  <div class="col-md-4 saleLabels">
    <h2>Estate Sales</h2>
    {{#each spot in controller.arrangedContent itemController='spot'}}
      {{#if spot.kindIsEstate}}
          <li class="spot">
            {{link-to spot.model.name 'spots.show' spot}}
          </li>
      {{/if}}
    {{/each}}
  </div>
  <div class="col-md-4 saleLabels">
    <h2>Garage Sales</h2>
    {{#each spot in controller.arrangedContent itemController='spot'}}
      {{#if spot.kindIsGarage}}
          <li class="spot">
            {{link-to spot.model.name 'spots.show' spot}}
          </li>
      {{/if}}
    {{/each}}
  </div>
</div>

<div class="newThriftBtn btn btn-primary">
  {{#link-to 'spots.new'}}Add a spot{{/link-to}}
</div>


<hr>

<div class="text-center">

<iframe
width="500"
height="325"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAs1EqVwjjQtzplL4v02060BCBctNNN6Ww
&q=thrift+stores+in+Portland">
</iframe>
</div>
