body {
  background-color: #000;
}

.btn-group {
  border: #337ab7;
}

.navbar {
  text-align: center;
}

h2 {
  text-align: center;
}

.video {
  width: 560px; /* you have to have a size or this method doesn't work */
    /*height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}

#find {
  float: right;
}
